<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>WELCOME TO THE POSTED VIEW PAGE</h1>

    {% for poster in posti %}
    <p>{{poster.title}}</p>
    <p>{{poster.comment}}</p>
    <p>{{poster.written_by}}</p>
    <form
      method="post"
      action="{% url 'delete' poster.id %}"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>
    <hr />
    {%endfor%}

    <a href="add/">ADD</a>
  </body>
</html>
